/* Clients */

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: getColor('secondary-text-color');
}

.clients-lists {
  display: flex;
  margin: 0 -15px;

  & .link:hover {
    color: getColor('akcent-color');
    fill: getColor('akcent-color');
    border-color: getColor('akcent-color');
  }
}

.clients .list {
  display: inline-block;
  margin: 0 15px;
}

.clients .link {
  @include flex-center();
  width: 170px;
  height: 90px;

  border: 1px solid getColor('icon-gray-color');
  border-radius: 4px;
  color: getColor('icon-gray-color');
  fill: getColor('icon-gray-color');
}

.clients .icon {
  fill: currentColor;
}
