/* Footer */
.footer {
  background-color: getColor('footer-color');
  padding-top: 60px;
  padding-bottom: 60px;

  & .footer-logo {
    display: inline-block;
    padding-bottom: 20px;
    color: getColor('primary-background-color');
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  & p {
    color: getColor('primary-background-color');
  }
  & .container {
    display: flex;
    align-items: baseline;
  }
}

.google-address {
  color: getColor('primary-background-color');
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  color: getColor('primary-background-color');
  font-style: normal;
  margin-top: 30px;
}
.footer-link {
  display: block;
  font-style: normal;
  color: getColor('footer-link-color');
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-left {
  margin-right: 70px;
}
.footer-join {
  margin-right: 93px;

  & .title {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: getColor('primary-background-color');
  }
  & .list:not(:last-child) {
    margin-right: 10px;
  }

  & .footer-list {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}
.footer-icon {
  display: flex;
}

.footer-list {
  margin-right: 10px;

  & .footer-links-icon:hover {
    background-color: getColor('akcent-color');
    fill: getColor('primary-background-color');
  }
  & .footer-links-icon {
    @include flex-center();
    height: 44px;
    width: 44px;
    border-radius: 50%;

    fill: getColor('primary-background-color');
  }

  & .footer-icon {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: 12px;
  }
}

.form-submit {
  display: flex;

  & .form-input-footer {
    margin-right: 12px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;

    color: getColor('primary-background-color');
    background-color: getColor('footer-color');

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}
.right-part .title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor('primary-background-color');
}

.form-input-footer::placeholder {
  @include flex-center();

  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.form-input-footer:not(:placeholder-shown) + .form-input-footer {
  color: getColor('primary-background-color');
  background-color: getColor('footer-color');
}

.button-submit {
  @include flex-center();
  text-align: center;
  @extend %btn;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background: getColor('akcent-color');
  fill: getColor('primary-background-color');

  & svg {
    margin-left: 10px;
    background-color: getColor('akcent-color');
    fill: getColor('primary-background-color');
  }
}
